:root {
  --accent: #c147a3;
  --light: #ccd6f6;
  --dark: #6e6e6e;
  --background: #121722;
  --font: "SF Mono", "Fira Code", "Fira Mono", "Roboto Mono", monospace;
}
html,
body {
  background-position: 90% 50%;
  background-color: var(--background);
  -webkit-appearance: none;
  -webkit-font-smoothing: antialiased;
}
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  height: 98vh;
  margin-left: 10em;
  width: 70%;
}
.greeting {
  margin: 0px 0px 30px 4px;
  color: var(--accent);
  font-family: var(--font);
  font-size: 1.5em;
  font-weight: 400;
}
.big-text {
  font-family: var(--font);
  color: var(--light);
  margin: 0px;
  padding-bottom: 15px;
  font-size: 5em;
}
.about {
  padding-top: 2em;
  width: 65em;
  margin: 0px 0px 30px 4px;
  color: var(--dark);
  font-family: var(--font);
  font-size: 1em;
  font-weight: 400;
}
.email-link {
  color: var(--accent);
  background-color: transparent;
  border: 1px solid var(--accent);
  border-radius: 4px;
  padding: 1.25rem 1.75rem;
  font-family: var(--font);
  line-height: 1;
  text-decoration: none;
  cursor: pointer;
  width: 6em;
  margin-top: 2em;
}
.email-link:hover {
  transition: background 0.4s ease-in-out;
  color: var(--accent);
  background-color: rgb(193, 71, 163, 0.2);
}
.logo {
  width: 300px;
  height: 300px;
  overflow: hidden;
}
.logo img {
  width: 300px;
  height: 300px;
  margin: 0px 0px 0px -50px;
}
.butt {
  display: inline-block;
  margin: 0;
  margin-bottom: 1em;
  padding: 0.55em 1rem;
  border: 0;
  border-radius: 0.117rem;
  background-color: #aeb5bb;
  color: #0d1117;
  text-decoration: none;
  font-weight: 700;
  font-size: 1rem;
  line-height: 1;
  font-family: var(--font);
  cursor: pointer;
  min-width: 100px;
  text-align: center;
  transition: background-color 0.6s linear;
  max-width: 14em;
}
.butt:hover {
  opacity: 0.9;
  color: var(--light);
  background-color: var(--accent);
}
/* Better Mobile Sizing */
@media (max-width: 1000px) {
  .container {
    margin-left: 1em;
  }
  .logo {
    visibility: hidden;
  }
  .greeting {
    font-size: 4em;
  }
  .big-text {
    font-size: 10em;
  }
  .about {
    font-size: 2em;
    width: auto;
  }
  .email-link {
    font-size: 3em;
    padding: 3rem;
  }
}
